<div class="col-md-1"></div>
<div class="col-md-3">
  <div class="card">
    <div class="card-block">
      <h3><%= link_to coach_profile.coach.first_name, coach_profile_path(coach_profile.coach) %></h3>
    </div>
  </div>
</div>
