<div class="container-fluid">
  <h1 align="center">All Coaches</h1>
  <hr>

    <div class="row" id="coach_profiles">
      <%= render @coach_profiles %>
    </div>

    <div align="center" id="paginator">
      <%= paginate @coach_profiles, remote: true %>
    </div>
</div>
