<div class="white">
<div>
  Chatting with <%= conversation.with(current_user).username %>
  <br>
  <em><%= conversation.personal_messages.last.body.truncate(50) %></em>
  <br>
  <%= link_to 'View Conversation', conversation_path(conversation) %>
  <br>
</div>
</div>
