<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        position: absolute;
        right: 20px;
        height: 400px;
        width: 50%;
       }
    </style>
  </head>
  <body>
    <h1><%= @player.name %></h1>
    <div class="">
      <h3>Upcoming Games</h3>
    </div>
    <div id="map"></div>
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script>
      function initMap() {
        var asbury = {lat: 39.680045, lng: -104.971557};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: asbury
        });
        var marker = new google.maps.Marker({
          position: asbury,
          map: map
        });
      }
    </script>
    <script id="api_url" async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC26DD0ZSYmUHPxH6W4b3OAHvoLh7Qb8aM&callback=initMap">
    </script>
  </body>
</html>
