<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
      }

      li {
          float: left;
      }

      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      li a:hover {
          background-color: #111;
      }
    </style>
  </head>
  <body>

    <ul>
      <li><a href="#Sign up">Sign Up as a Recruiter</a></li>
      <li><a href="#Sign up">  <%= link_to "Sign Up as an Athlete", new_player_path %> </a></li>
      <li><a href="#Sign up">Sign Up as a Coach</a></li>
      <li><a href="#Login">Login</a></li>
      <li><a href="#Logout">Logout</a></li>
    </ul>
  </body>
</html>
