<div class="text-center">
	<%= image_tag "bball2.png" %>
	<h1><strong><span id="recruit-me-text">RecruitMe</span></strong> fosters connections between athletes and recruiters,<br>
		for <span id="growth-text">mental and physical growth</span> and a <span id="future-text">brighter future</span>.</h1>
</div>
