# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

shared:
  FACEBOOK_KEY: <%= ENV["FACEBOOK_KEY"] %>
  FACEBOOK_SECRET: <%= ENV["FACEBOOK_SECRET"] %>
  twitter_api_key: <%= ENV["twitter_api_key"] %>
  twitter_api_secret: <%= ENV["twitter_api_secret"] %>
  test_twilio_sid: <%= ENV["test_twilio_sid"] %>
  test_twilio_token: <%= ENV["test_twilio_token"] %>
  twilio_sid: <%= ENV["twilio_sid"] %>
  twilio_token: <%= ENV["twilio_token"] %>
  google_map_api_key: <%= ENV["google_map_api_key"] %>

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c854a1e368e95beb7935462ff82a47fce3e5db33a0e5cd458ae71f201099d5da19f0c6f6ce525621c6bb4f73c490a724b8980a5621da326211fdd1fbed018250


test:
  secret_key_base: c100f86f7769a2e256f00704b3f0ae7c273ed704b0ae580ba7872e65ea7983fddb6fb5155e384d06c7c1e84eb8ec4e08a1aefba996cd0a31cd77cee3b276d635

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
