
<div class="col-md-1"></div>
<div class="col-md-3">
  <div class="card">
    <div class="card-block">
      <h3><%= link_to recruiter_profile.recruiter.name,
              recruiter_profile_path(recruiter_profile.id) %></h3>
    </div>
  </div>
</div>
