<div class="container">
  <div class="border-for-index">
    <h1 align="center">All Recruiters</h1>
  </div>
  <br>
  <div class="border-for-index">

    <div class="row" id="recruiter_profiles">
      <%= render @recruiter_profiles %>
    </div>
  </div>

    <div align="center" id="paginator">
      <%= paginate @recruiter_profiles, remote: true %>
    </div>
</div>
