---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACdd04662d94370e1766d013e658f7bb4d/Messages.json
    body:
      encoding: UTF-8
      string: Body=A+recruiter+is+interested+in+your+athlete.+Please+respond+with%0A+++++++++++++%27n6877+yes%27+if+you+approve+or+%27n6877+no%27+otherwise.&From=%2B13157571027&To=%2B16073426730
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNkZDA0NjYyZDk0MzcwZTE3NjZkMDEzZTY1OGY3YmI0ZDo2OWQ2OTBlMThjMGI3ZmU5ZTgwOGMyMGNiYzFiYWI5YQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.352'
      Twilio-Request-Id:
      - RQa57c2a07e22645f096bc8df8c857edd1
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM802d5708951446a8b2b24cca52b5d904", "date_created": "Wed,
        06 Sep 2017 02:59:50 +0000", "date_updated": "Wed, 06 Sep 2017 02:59:50 +0000",
        "date_sent": null, "account_sid": "ACdd04662d94370e1766d013e658f7bb4d", "to":
        "+16073426730", "from": "+13157571027", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - A recruiter is interested in your athlete.
        Please respond with\n             ''n6877 yes'' if you approve or ''n6877
        no'' otherwise.", "status": "queued", "num_segments": "2", "num_media": "0",
        "direction": "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACdd04662d94370e1766d013e658f7bb4d/Messages/SM802d5708951446a8b2b24cca52b5d904.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACdd04662d94370e1766d013e658f7bb4d/Messages/SM802d5708951446a8b2b24cca52b5d904/Media.json"}}'
  recorded_at: Wed, 06 Sep 2017 02:59:50 GMT
recorded_with: VCR 3.0.3
