---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACdd04662d94370e1766d013e658f7bb4d/Messages.json
    body:
      encoding: UTF-8
      string: Body=This+is+sent+from+your+twilio_service.rb+file&From=%2B13157571027&StatusCallback=http%3A%2F%2Frequestb.in%2Ftestingyouthsports&To=%2B16073426730
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNkZDA0NjYyZDk0MzcwZTE3NjZkMDEzZTY1OGY3YmI0ZDo2OWQ2OTBlMThjMGI3ZmU5ZTgwOGMyMGNiYzFiYWI5YQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.193'
      Twilio-Request-Id:
      - RQa69c4e1143304efeb199ec51f700cc87
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM940cc3304ea34949880f2c38988632ec", "date_created": "Sun,
        03 Sep 2017 19:47:38 +0000", "date_updated": "Sun, 03 Sep 2017 19:47:38 +0000",
        "date_sent": null, "account_sid": "ACdd04662d94370e1766d013e658f7bb4d", "to":
        "+16073426730", "from": "+13157571027", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - This is sent from your twilio_service.rb
        file", "status": "queued", "num_segments": "1", "num_media": "0", "direction":
        "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACdd04662d94370e1766d013e658f7bb4d/Messages/SM940cc3304ea34949880f2c38988632ec.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACdd04662d94370e1766d013e658f7bb4d/Messages/SM940cc3304ea34949880f2c38988632ec/Media.json"}}'
  recorded_at: Sun, 03 Sep 2017 19:47:38 GMT
recorded_with: VCR 3.0.3
