
<h1>Hello <%= current_user.username %></h1>
<h2><%= link_to "Create/update your favorite player", new_favorite_player_path %></h2>
<%= current_user.favorite_player.screen_name %>
<%= current_user.favorite_player %>
<%# current_user.favorite_player.tweets.each do |tweet| %>
<%#= tweet %>
<%# end %>
