---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACdd04662d94370e1766d013e658f7bb4d/Messages.json
    body:
      encoding: UTF-8
      string: Body=A+recruiter+is+interested+in+your+athlete.+Please+respond+with%0A+++++++++++++%27d7195+yes%27+if+you+approve+or+%27d7195+no%27+otherwise.&From=%2B13157571027&To=%2B16073426730
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNkZDA0NjYyZDk0MzcwZTE3NjZkMDEzZTY1OGY3YmI0ZDo2OWQ2OTBlMThjMGI3ZmU5ZTgwOGMyMGNiYzFiYWI5YQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.179'
      Twilio-Request-Id:
      - RQ81f1112b6142494bb71890c3a74d7755
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM4b5c67ad520b410394f2451d052c91cc", "date_created": "Wed,
        06 Sep 2017 03:05:08 +0000", "date_updated": "Wed, 06 Sep 2017 03:05:08 +0000",
        "date_sent": null, "account_sid": "ACdd04662d94370e1766d013e658f7bb4d", "to":
        "+16073426730", "from": "+13157571027", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - A recruiter is interested in your athlete.
        Please respond with\n             ''d7195 yes'' if you approve or ''d7195
        no'' otherwise.", "status": "queued", "num_segments": "2", "num_media": "0",
        "direction": "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACdd04662d94370e1766d013e658f7bb4d/Messages/SM4b5c67ad520b410394f2451d052c91cc.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACdd04662d94370e1766d013e658f7bb4d/Messages/SM4b5c67ad520b410394f2451d052c91cc/Media.json"}}'
  recorded_at: Wed, 06 Sep 2017 03:05:08 GMT
recorded_with: VCR 3.0.3
