<div class="container">
  <h1 class="center">All Athletes</h1>

  <div id="player_profiles">
  <%= render @player_profiles %>
  </div>

    <div id="paginator">
      <%= paginate @player_profiles, remote: true %>
    </div>
</div>
