<div class="container">
  <h1 align="center">All Athletes</h1>

<hr>
  <div class="row" id="player_profiles">
      <%= render @player_profiles %>
  </div>

  <div align="center" id="paginator">
    <%= paginate @player_profiles, remote: true %>
  </div>
</div>
