<div class="white">
<h1>All Athletes</h1>

<ul>
  <% @player_profiles.each do |profile| %>
  <li><%= link_to profile.player.first_name, player_profile_path(profile.player) %></li>
  <% end %>

</ul>
</div>
