<div class="container">
  <h1 class="center">All Athletes</h1>

    <% @player_profiles.each do |profile| %>
    <p><%= link_to profile.player.first_name, player_profile_path(profile.id) %></p>
    <% end %>


  <%= paginate @player_profiles %>

</div>
