<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 50%;
       }
    </style>
  </head>
  <body>
    <h1><%= player.name %></h1>
    <h3>Upcoming Games</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 39.680041, lng: -104.971595};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=XXX&callback=initMap">
    </script>
  </body>
</html>
